* { font-family: Arial, Helvetica, sans-serif; }

a { color: black; }

.menu, #barra, tr { border-radius: 10px; }

body { background-color:  #303030; }

td { color: white; }

input, button {
	background-color: #1b1b1b;
	color: white;
	border: 1px solid #303030;
	padding: 12px 20px;
	-webkit-transition: 1s;
}

input:hover, button:hover {
	border: 1px solid black;
	-webkit-transition: 1s;
}

#swal2-title { color: white; }
#swal2-html-container { color: white; }

table { font-size: 12px; }

th, td { padding: 15px; }

.transicao { -webkit-transition: 1s; }

.menu {
	width: 202px;
	height: 151px;
	border: 5px solid #1b1b1b;
}

.menu:hover { border: 5px solid black; }

.mostrar { margin-top: 60px; }

#barra { 
	border: solid 5px;
	display: none;
	background-color: black;
}

#titulo {
	color:white;
	text-align: center;
}

#user_button {
	color: white;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

#bio_user {
	margin-left: 20%;
	margin-right: 20%;
	font-size: 15px;
}

#bio_text_edit {
	font-size: 15px;
	margin-top: 2%;
    border-radius: 5px;
    margin-bottom: 2%;
	background-color: #1b1b1b;
	color: white;
}