* { font-family: Arial, Helvetica, sans-serif; }

a { color: black; }

.menu, #barra, tr { border-radius: 10px; }

tr {
	border: 2px solid black;
	-webkit-transition: 1s;
	color: black;
}

table { font-size: 12px; }

tr:hover {
	-webkit-transition: 1s;
	background-color: rgb(182, 182, 182);
}

th, td { padding: 15px; }

.transicao { -webkit-transition: 1s; }

.menu {
	width: 202px;
	height: 151px;
	border: 5px solid #CCC;
}

.menu:hover { border: 5px solid black; }

#mostrar { margin-top: 60px; }

#barra { 
	border: solid 5px;
	display: none;
	background-color: black;
}

#titulo {
	color:white;
	text-align: center;
}

#user_button {
	color: white;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}