<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset = "uft-8" />
		<link rel = "stylesheet" type = "text/css" href = "css/style.css" />
		<script src = "js/jquery-3.4.1.js"></script>
		<script src = "js/script.js"></script>
		<title>Centra de links</title>
	</head>
	<body>
		<div id = "barra">
			<h1 id = "titulo">CENTRAL DE LINKS: Bom Dia!</h1>
		</div>
		<div align = "center">
			<div style = "display: none;" id = "mostrar">
				<img class = "menu" onclick = "MostrarLinks()" src = "image/cacorro.jpeg" />
				<img class = "menu" onclick = "AddLinks()" src = "image/envia.jpg" />
				<table style = "display: none;">
					<tr>
						<th></th>
						<th>Nome</th>
						<th>Link</th>
					</tr>
					{% for i in range(tam) %}
					<tr>
						<td> {{i + 1}} </td>
						<td> {{nome[i]}} </td>
						<td> {{link[i]}} </td>
					</tr>
					{% endfor %}
				</table>
				<div id = "import" style = "display: none;">
					<h2>Informe o link aqui: </h2>
					<p>Nome</p>
					<input id = "nome" />
					<p>Link</p>
					<input id = "link" /><br />
					<button style = "margin-top: 30px;" onclick = "Enviar()">Enviar</button>
				</div>
			</div>
			<button style = "display: none; margin-top: 30px;" id = "Voltar" onclick = "Voltar()">Voltar</button>
		</div>
	</body>
</html>