<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/image/Atendimento.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src = "/js/jquery-3.4.1.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% block header %}{% endblock %}
        <script>
            const baseURL = 'http://192.168.0.106:5001/';
            $.ajaxSetup({
                dataType: 'json',
                contentType: 'application/json',
            });
            const format = data => JSON.stringify(data);
            $.ajax({
                url: `${baseURL}auth/me`,
                method: 'post',
                headers: {
                    'Access-Token': localStorage.getItem('authorization')
                },
                success: function (user) {
                    window.location.href = '/';
                },
                error: (result) => {
                    console.log(result);
                }
            });
        </script>
        <title>{% block title %}{% endblock %} | Central de Links</title>
    </head>
    <body>
        <div id = "barra">
            <span id="titulo">
                <b>Central de links, {{dar}}</b>
            </span>
		</div>
        
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
    <script>
        $('#titulo').on('click', () => {
            window.location.href='/login';
        });
    </script>
    
    {% block scripts %} {% endblock %}
</html>
