{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="css/style-login.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/script.js"></script>
{% endblock %}

{% block title %} Crie uma conta {% endblock %}

{% block content %}
<div style="display: none;" class="mostrar" align="center">
    <h2 style="color: white;">
        Escolha um nome de Usuario para a sua conta:
    </h2>
    <input class="inputs" required placeholder="Nome de Usuario" id="user" /> <br />
    <input class="inputs" required placeholder="Senha" type="password" id="senha" /> <br />
    <input class="inputs" required placeholder="Repita a Senha" type="password" id="reSenha" /> <br />
    <button id="submit" style="margin-top: 20px;">Registre-se</button>
    <br />
    <span>ou</span>
    <br />
    <a href="/login"><button style='margin-top:10px'>Entrar</button></a>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#senha, #user, #reSenha').keyup((e) => {
        if (e.keyCode == 13) $("#submit").click();
    });

    $('#submit').on('click', () => {
        const user = $('#user');
        const senha = $('#senha');
        const reSenha = $('#reSenha');

        if (user.val() && senha.val() && reSenha.val()) {
            Swal.fire({
                title: "Aguarde...",
                background: "#303030"
            });
            Swal.showLoading();
            if (senha.val() != reSenha.val()) Swal.fire({
                title: "Senhas não conferem!",
                text: "As senhas devem ser iguas!",
                icon: "error",
                background: "#303030"
            })
            else if (senha.val().length < 6) Swal.fire({
                title: "Senha inválida!",
                text: "Sua senha deve ter no mínimo seis caracteres...",
                icon: "error",
                background: "#303030"
            })
            else if (characterInString(' ', senha.val())) Swal.fire({
                title: "Senha inválida!",
                text: "Sua senha não pode conter espaços!",
                icon: "error",
                background: "#303030"
            })
            else if (user.val().length < 3) Swal.fire({
                title: "Usuário inválida!",
                text: "Seu usuário deve ter no mínimo seis caracteres...",
                icon: "error",
                background: "#303030"
            })
            else if (characterInString(' ', user.val())) Swal.fire({
                title: "Usuário inválida                                                                                                                                                                                                                                                                                                                                                                                                                                                                !",
                text: "Seu usuário não pode conter espaços!",
                icon: "error",
                background: "#303030"
            })
            else {
                $.ajax({
                    url: `${baseURL}auth/register`,
                    type: 'POST',
                    data: format({
                        nick: user.val(),
                        password: senha.val()
                    }),
                    success: (result) => {
                        localStorage.setItem('authorization', result.accessToken);
                        window.location.href = "/";
                    },
                    error: (result) => {
                        Swal.fire({
                            title: "Usuário inválida!",
                            text: result.responseJSON.message,
                            icon: "error",
                            background: "#303030"
                        });
                    }
                });
            }
        } else {
            Swal.fire({
                title: "Preencha os campos!",
                icon: "warning",
                text: "Você deve preencher todos os campos!",
                background: "#303030"
            });
        }
    });
</script>
{% endblock %}