{% extends 'base.html' %}

{% block header %}
    <link rel = "stylesheet" type = "text/css" href = "css/style-login.css" />
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
    <script src = "js/script.js"></script>
{% endblock %}

{% block title %} Algo inesperado aconteceu {% endblock %}

{% block content %}
    <div style="display: none;" class="mostrar" align = "center">
        <h2 style="color: white;">{{erro}} :/</h2><br />
        <a href="{{url}}"><button style='margin-top:10px'>{{action}}</button></a>
    </div>
{% endblock %}