{% extends 'base.html' %}

{% block header %}
    <link rel = "stylesheet" type = "text/css" href = "css/style-login.css" />
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
    <script src = "js/script.js"></script>
{% endblock %}

{% block title %} Algo inesperado aconteceu {% endblock %}

{% block content %}
    <div style="display: none;" id='mostrar' align = "center">
        <p>{{erro}} :/</p><br />
        <a href="{{url}}"><button style='margin-top:10px'>{{action}}</button></a>
    </div>
{% endblock %}