{% extends 'base.html' %}

{% block header %}
	<link rel = "stylesheet" type = "text/css" href = "css/style.css" />
	<link href='https://css.gg/trash.css' rel='stylesheet'>
	<link href='https://css.gg/pen.css' rel='stylesheet'>
	<script src = "js/script.js"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
	<div align = "center">
		<div style = "display: none;" id = "mostrar">
			<img class = "menu" onclick = "MostrarLinks()" src = "image/cacorro.jpeg" />
			<img class = "menu" onclick = "AddLinks()" src = "image/envia.jpg" />
			<div class = "tabela" style = "display: none;">
				<table>
					<tr style='background-color: rgb(182, 182, 182);'>
						<th>ID</th>
						<th>Nome</th>
						<th>Link</th>
						<th>Operações</th>
					</tr>
					{% for i in range(tam) %}
					<tr id = "links_table">
						<td> {{i + 1}} </td>
						<td> {{nome[i]}} </td>
						<td><a target="blank_" href="{{link[i]}}"> {{link[i]}} </a></td>
						<td>
							<div><i class="gg-pen"></i></div>
							<div onclick="delete_link('{{ids[i]}}')" style="margin-left: 30px; margin-top: -10px;"><i class="gg-trash"></i></div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<form method = "POST">
				<div id = "import" style = "display: none;">
					<h2>Informe o link aqui: </h2>
					<input required placeholder="Nome" id = 'nome' name = "nome" />
					<input required placeholder="Link" id = 'link' name = "link" /> <br />
					<input type = "submit" value = "Enviar" style = "margin-top: 30px;" />
				</div>
			</form>
		</div>
		<button style = "display: none; margin-top: 30px;" id = "Voltar" onclick = "Voltar()">Voltar</button>
	</div>
	<script>
		function delete_link(id) {
			Swal.fire({
				title: 'Tem certeza?',
				text: "Quer deletar esse link?",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sim, deletar!',
				cancelButtonText: 'Cancelar',
			}).then((result) => {
				if (result.isConfirmed) {
					Swal.showLoading();
					$.ajax({
						url: '/links/' + id,
						type: 'DELETE',
						success: () => {
							Swal.fire({
								title: 'Deletado',
								text: 'Link deletado!',
								icon: 'success'
							}).then((result) => {
								location.reload();
							});
						},
						error: () => {
							Swal.fire({
								title: 'Deu ruim!',
								text: 'Link não foi deletado!',
								icon: 'error'
							});
						}
					});
				}
			});
		}
	</script>
{% endblock %}