{% extends 'base.html' %}

{% block header %}
	<link rel = "stylesheet" type = "text/css" href = "css/style.css" />
	<link href='https://css.gg/trash.css' rel='stylesheet'>
	<link href='https://css.gg/share.css' rel='stylesheet'>
	<script src = "js/script.js"></script>
	<script src = "js/links.js"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
	<div align = "center">
		<div style = "display: none;" class = "mostrar">
			<img class = "menu" onclick = "MostrarLinks()" src = "image/cacorro.jpeg" />
			<img class = "menu" onclick = "AddLinks()" src = "image/envia.jpg" />
			<div class = "tabela" style = "display: none;">
				{% if tam != 0 %}
				<table>
					<tr style='background-color: #191919; color: white;'>
						<th>ID</th>
						<th>Nome</th>
						<th>Link</th>
						<th>Operações</th>
					</tr>
					{% for i in range(tam) %}
					<tr id = "links_table">
						<td> {{i + 1}} </td>
						<td> {{nome[i]}} </td>
						<td><a style="color: white;" target="blank_" href="{{link[i]}}"> {{link[i]}} </a></td>
						<td style="padding: 0px;">
							<button style="width: 50px; height: 40px; padding: 15px; position: absolute;" onclick="share_link('{{ids[i]}}')">
								<i class="gg-share"></i>
							</button>
							<button style="width: 50px; height: 40px; margin-left: 55px; padding: 12px 19px;" onclick="delete_link('{{ids[i]}}')">
								<i class="gg-trash"></i>
							</button>
						</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
				<h2 style="color: white;">Nenhum link adicionado...</h2>
				{% endif %}
			</div>
			<form method = "POST">
				<div id = "import" style = "display: none;">
					<h2 style="color: white;">Informe o link aqui: </h2>
					<input class="inputs" required placeholder="Nome" id = 'nome' name = "nome" />
					<input class="inputs" required placeholder="Link" id = 'link' name = "link" /> <br />
					<input type = "submit" value = "Enviar" style = "margin-top: 30px;" />
				</div>
			</form>
		</div>
		<button style = "display: none; margin-top: 30px;" id = "Voltar" onclick = "Voltar()">Voltar</button>
	</div>
{% endblock %}